.App {
  width: 100vw;
  height:100vh;
  background-color: #F5F5F5;
}
 

a {
  all: unset;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
